p.wc-gzd-actions a.button-primary, .woocommerce-gzd-message .button-primary {
  background-color: #262626 !important;
  border: 1px solid #000 !important;
  text-shadow: none !important;
}
p.wc-gzd-actions a.button-primary:hover, .woocommerce-gzd-message .button-primary:hover {
  background-color: #363636 !important;
  border: 1px solid #000 !important;
  text-shadow: none !important;
}
.woocommerce-gzd-message .form-table tr td, .woocommerce-gzd-message .form-table tr th {
  padding: 0.7rem 0;
  margin: 0;
}
.woocommerce-gzd-message a.wc-gzd-skip {
  opacity: .7;
}
div.woocommerce-gzd-message {
  border-left: 4px solid #bb2525 !important;
}
div.woocommerce-gzd-message p {
  max-width: 100% !important;
}