<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        syntaxCheck="true"
>
    <testsuites>
        <testsuite name="WooCommerce Test Suite">
            <directory suffix=".php">./tests/unit-tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <exclude>
                <directory suffix=".php">./i18n/</directory>
                <directory suffix=".php">./includes/gateways/direct-debit/libraries/</directory>
                <directory suffix=".php">./includes/libraries/</directory>
                <directory suffix=".php">./includes/updates/</directory>
                <directory suffix=".php">./includes/widgets/</directory>
                <directory suffix=".php">./templates/</directory>
                <directory>./tests/</directory>
                <directory suffix=".php">./tmp/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>