p.oss-woocommerce-additional-desc {
  margin-top: 1em !important;
  line-height: 1.5em;
  background: #fff;
  padding: .5em;
  font-style: normal;
  font-size: 14px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

h2.oss-woocommerce-settings-title {
  margin-top: 1.5em;

  .page-title-action {
    top: 0;
  }
}

.oss-add-tax-class-by-country-template {
  display: none;
}

a.oss-remove-tax-class-by-country {
  text-indent: 0;
  overflow: hidden;
  color: #b32d2e;
  text-decoration: none;
  vertical-align: middle;
}

p.oss-tax-class-by-country-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  label {
    width: 100%;
  }

  select {
    width: auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
  }

  a.oss-remove-tax-class-by-country {
    margin-left: .5em;
  }
}

p.oss-add-tax-class-by-country-field {
  display: flex;
  align-items: center;
  width: 100%;

  a.oss-remove-tax-class-by-country {
    margin-left: .5em;
  }

  label {
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    margin-right: 1em;
  }

  select.oss-tax-class-new-class {
    width: auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
  }
}

.oss-observer-total {
  font-size: 1.5em;
  background: #b1dabc;
  color: #1d4026;
  padding: 3px;
  border-radius: 2px;

  &.observer-total-red {
    background: #dab1b4;
    color: #401d1d;
  }
}

.oss-settings-learn-more {
  margin-left: .5em;
}

.oss-woo-status {
  background: #eee;
  padding: .2em .5em;
  font-size: .9em;
  border-radius: 3px;
  display: inline-flex;
  white-space: nowrap;

  &.report-status-pending {
    background: #f8dda7;
    color: #94660c;
  }

  &.report-status-failed {
    background: #eba3a3;
    color: #761919;
  }

  &.report-status-completed {
    background: #c6e1c6;
    color: #5b841b;
  }
}

.create-oss-reports {
  text-align: center;
  max-width: 700px;
  margin: 40px auto;

  .create-oss-report {
    background: #fff;
    overflow: hidden;
    padding: 0;
    margin: 0 0 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    color: #555;
    text-align: left;
  }

  header {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 24px 24px 0;

    h2 {
      margin: 0 0 24px;
      color: #555;
      font-size: 24px;
      font-weight: 400;
      line-height: 1em;
    }
  }

  section {
    padding: 24px 24px 0;

    .oss-report-options {
      .select2-container {
        min-width: 400px;
      }

      td, th {
        vertical-align: middle;
        line-height: 1.75em;
        padding: 0 0 24px;
      }

      th {
        width: 25%;
        padding-right: 20px;

        label {
          color: #555;
          font-weight: 400;
          position: relative;
          display: block;
        }
      }
    }

    .oss-report-hidden {
      display: none;
    }
  }

  .oss-actions {
    overflow: hidden;
    border-top: 1px solid #eee;
    margin: 0;
    padding: 23px 24px 24px;
    line-height: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .button {
      font-size: 1.25em;
      padding: .5em 1em!important;
      line-height: 1.5em!important;
      margin-right: .5em;
      margin-bottom: 2px;
      height: auto!important;
      border-radius: 4px;
      opacity: 1;
    }
  }
}

.woocommerce_page_oss-reports {
  .summary {
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 16px;
  }

  .tablenav {
    .actions {
      overflow: visible;
    }

    .select2-container {
      float: left;
      width: 240px!important;
      font-size: 14px;
      vertical-align: middle;
      margin: 1px 6px 4px 1px;

      .select2-selection--single {
        height: 32px;

        .select2-selection__rendered {
          line-height: 29px;
        }

        .select2-selection__arrow {
          height: 30px;
        }
      }
    }

    select, input {
      line-height: 1;
      height: 32px;
    }

    input {
      height: 31px;
    }
  }

  .wp-list-table {
    margin-top: 1em;

    td, th {
      padding: .5em 1em;
      width: 10ch;
      vertical-align: middle;
    }

    td, tbody th {
      line-height: 26px;
    }

    thead {
      th {
        padding: .5em 1em;

        &.sortable a, &.sorted a {
          padding: 0;
        }

        &:last-child {
          padding-right: 2em;
        }
      }
    }

    .check-column {
      width: 16px;
      white-space: nowrap;
      padding: 1em 1em 1em 1em !important;
      vertical-align: middle;

      input {
        vertical-align: text-top;
        margin: 1px 0;
      }
    }

    td.column-title {
      font-weight: bold;
    }

    .column-title {
      width: 20ch;
    }

    .column-actions {
      width: 10ch;
    }

    .column-actions {
      text-align: right;

      a.button {
        text-indent: 9999px;
        margin: 2px 0 2px 4px;
        position: relative;
        display: inline-block;
        padding: 0;
        height: 2em;
        width: 2em;
        overflow: hidden;
        vertical-align: middle;

        &::after {
          font-family: Dashicons;
          margin: 0;
          margin-top: 2px;
          speak: none;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          text-indent: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          line-height: 1.85;
        }

        &.view::after {
          font-family: WooCommerce;
          content: "\e010";
        }

        &.refresh::after {
          content: "\f515";
        }

        &.delete, &.cancel {
          border-color: #a00;
          color: #a00;

          &:focus {
            box-shadow: 0 0 0 1px #a00;
            border-color: #a00;
            color: #a00;
          }

          &:hover {
            border-color: darken( #a00, 5% );
            color: darken( #a00, 5% );
          }

          &::after {
            font-family: Dashicons;
            content: "\f182";
          }
        }

        &.export::after {
          content: "\f103";
        }
      }
    }

    .column-address, .column-sender {
      width: 20ch;
    }

    .column-items {
      width: 20ch;
    }

    #the-list {
      .column-items {
        table.wc-gzd-shipments-preview {
          font-size: .9em;
          border-spacing: 0;

          thead {
            th {
              color: #adadad;
              padding-top: 0;
              font-size: 1.1em;
            }
          }

          tr {
            td {
              border-bottom: 1px solid #ccc !important;
            }

            &:last-child {
              td {
                border-bottom: none !important;
              }
            }
          }

          th, td {
            padding: .3em 0;
            vertical-align: top;
            line-height: 20px;

            &.wc-gzd-shipment-item-column-name {
              width: 70%;

              small {
                color: #999;
                font-size: 12px;
              }
            }

            &.wc-gzd-shipment-item-column-quantity {
              text-align: right;
              padding-right: .5em;
            }
          }
        }
      }
    }
  }
}