ul.wc-block-components-product-details {
  li[class*="wc-block-components-product-details__gzd-"] {
    .wc-block-components-product-details__name {
      display: none;
    }
    .wc-block-components-product-details__value {
      font-size: .8rem;
      color: #757575;
    }
  }
}

.wc-gzd-small-business-info {
  font-size: .8rem;
  color: #757575;
}

 .wc-gzd-unit-price {
   font-weight: normal;
   font-size: .8rem;
   color: #757575;

   .wc-block-components-product-details__name {
     display: none;
   }
 }

 ul.wc-block-components-product-details {
   li.wc-block-components-product-details__gzd-unit-price {
     display: none !important;
   }

   li.wc-not-gzd-summary-item-first {
     margin-top: 1em;
   }
 }