.wc-block-components-product-metadata {
  .wc-block-components-product-details:first-child {
    display: flex;
    flex-direction: column;

    *[class*="wc-block-components-product-details"] {
      order: 950;
    }

    *[class*="wc-block-components-product-details__gzd-"] {
      order: 90;
      width: 120%;
    }

    .wc-block-components-product-details__gzd-unit-price {
      order: 0;
      margin-top: -5px;
      margin-bottom: 12px;
    }

    .wc-block-components-product-details__gzd-deposit-packaging-type {
      order: 5;
      font-weight: bold;
      text-transform: uppercase;
    }

    .wc-block-components-product-details__gzd-deposit {
      order: 10;
    }

    .wc-block-components-product-details__gzd-differential-taxation {
      order: 10;
    }

    .wc-block-components-product-details__gzd-delivery-time {
      order: 20;
    }

    .wc-block-components-product-details__gzd-item-desc {
      order: 100;
    }

    .wc-gzd-summary-item-last {
      margin-bottom: 1em;
    }
  }
}

.wc-block-components-product-details {
  *[class*="wc-block-components-product-details__gzd-"] {
    .wc-block-components-product-details__name {
      display: none;
    }
    .wc-block-components-product-details__value {
      font-size: .8rem;
      color: #757575;
    }
  }
}

.wc-gzd-small-business-info {
  font-size: .8rem;
  color: #757575;
}

 .wc-gzd-unit-price {
   font-weight: normal;
   font-size: .8rem;
   color: #757575;

   .wc-block-components-product-details__name {
     display: none;
   }
 }