.wc-gzd-news p {
  line-height: 1.8;
  font-size: 15px; }

.wc-gzd-news .about-logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .wc-gzd-news .about-logo-wrapper .wc-gzd-logo {
    display: inline-block !important;
    text-indent: -9999px;
    width: 298px;
    vertical-align: top;
    margin-top: 2rem;
    height: 89px;
    background: url(../images/germanized.svg) no-repeat;
    background-size: 298px auto; }
  .wc-gzd-news .about-logo-wrapper .about-text {
    display: inline-block;
    padding: 0;
    max-width: 50%;
    width: 50%;
    margin: 0;
    margin-top: 1rem;
    margin-left: 3%; }

.wc-gzd-news .new-feature img {
  align-self: center; }

.wc-gzd-news p.price {
  font-size: .8em; }

.wc-gzd-news .columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em; }
  .wc-gzd-news .columns * {
    box-sizing: border-box; }
  .wc-gzd-news .columns .col {
    margin-right: 0;
    padding: 0 1em;
    width: 33.3333%;
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap; }
    .wc-gzd-news .columns .col h4 .dashicons {
      margin-right: 5px; }
    .wc-gzd-news .columns .col.align-center {
      display: inline-flex;
      align-self: center; }
  .wc-gzd-news .columns.two-col .col {
    width: 50%; }

.dashboard_page_wc-gzd-about h1 {
  width: 100%;
  margin-right: 0; }

.dashboard_page_wc-gzd-about h3 .wc-gzd-pro {
  font-size: 0.7em;
  margin-left: 5px;
  background: transparent;
  border: 1px solid #000;
  color: #000; }

.dashboard_page_wc-gzd-about .changelog {
  margin-top: 3em;
  border-top: 1px solid #CCC;
  padding-top: 0; }

.dashboard_page_wc-gzd-about .feature-section {
  border: none; }

.wc-gzd-actions {
  width: 100%;
  clear: both; }
  .wc-gzd-actions.wc-gzd-actions-right {
    text-align: right; }
  .wc-gzd-actions a.button {
    margin-right: .5em; }
  .wc-gzd-actions a.wc-gzd-default-button, .wc-gzd-actions .woocommerce-gzd-message .button-primary {
    background-color: #262626 !important;
    border: 1px solid #000 !important;
    text-shadow: none !important;
    background-image: none !important; }
    .wc-gzd-actions a.wc-gzd-default-button:hover, .wc-gzd-actions .woocommerce-gzd-message .button-primary:hover {
      background-color: #363636 !important;
      border: 1px solid #000 !important;
      background-image: none !important;
      text-shadow: none !important; }

.woocommerce-gzd-message .form-table tr td, .woocommerce-gzd-message .form-table tr th {
  padding: 0.7rem 0;
  margin: 0; }

.woocommerce-gzd-message a.wc-gzd-skip {
  opacity: .7; }

div.woocommerce-gzd-message {
  border-left: 4px solid #bb2525 !important; }

div.woocommerce-gzd-message p {
  max-width: 100% !important; }