.wc-gzd-news {
  p {
    line-height: 1.8;
    font-size: 15px;
  }

  .about-logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .wc-gzd-logo {
      display: inline-block !important;
      text-indent: -9999px;
      width: 298px;
      vertical-align: top;
      margin-top: 2rem;
      height: 89px;
      background: url(../images/germanized.svg) no-repeat;
      background-size: 298px auto;
    }

    .about-text {
      display: inline-block;
      padding: 0;
      max-width: 50%;
      width: 50%;
      margin: 0;
      margin-top: 1rem;
      margin-left: 3%;
    }
  }

  .new-feature {
    img {
      align-self: center;
    }
  }

  p.price {
    font-size: .8em;
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
    margin-right: -1em;

    * {
      box-sizing: border-box;
    }

    .col {
      margin-right: 0;
      padding: 0 1em;
      width: 33.3333%;
      align-items: center;
      display: inline-flex;
      flex-wrap: wrap;

      h4 {
        .dashicons {
          margin-right: 5px;
        }
      }

      &.align-center {
        display: inline-flex;
        align-self: center;
      }
    }

    &.two-col {
      .col {
        width: 50%;
      }
    }
  }
}
.dashboard_page_wc-gzd-about h1 {
  width: 100%;
  margin-right: 0;
}
.dashboard_page_wc-gzd-about h3 .wc-gzd-pro {
  font-size: 0.7em;
  margin-left: 5px;
  background: transparent;
  border: 1px solid #000;
  color: #000;
}
.dashboard_page_wc-gzd-about .changelog {
  margin-top: 3em;
  border-top: 1px solid #CCC;
  padding-top: 0;
}
.dashboard_page_wc-gzd-about .feature-section {
  border: none;
}

.wc-gzd-actions {
  width: 100%;
  clear: both;

  &.wc-gzd-actions-right {
    text-align: right;
  }

  a.button {
    margin-right: .5em;
  }

  a.wc-gzd-default-button, .woocommerce-gzd-message .button-primary {
    background-color: #262626 !important;
    border: 1px solid #000 !important;
    text-shadow: none !important;
    background-image: none !important;

    &:hover {
      background-color: #363636 !important;
      border: 1px solid #000 !important;
      background-image: none !important;
      text-shadow: none !important;
    }
  }
}

.woocommerce-gzd-message .form-table tr td, .woocommerce-gzd-message .form-table tr th {
  padding: 0.7rem 0;
  margin: 0;
}
.woocommerce-gzd-message a.wc-gzd-skip {
  opacity: .7;
}
div.woocommerce-gzd-message {
  border-left: 4px solid #bb2525 !important;
}
div.woocommerce-gzd-message p {
  max-width: 100% !important;
}