table.data_table tr td p.form-field {
  margin: 0 !important;
  padding: 0 !important;
}

.woocommerce-gzd-message {
  position: relative;
  overflow: hidden;
  
  ul {
    list-style-type: disc;
    padding-left: 1.5em;
  }

  .notice-dismiss {
    position: static;
    float: right;
    padding: 0 15px 10px 28px;
    margin-top: -10px;
    font-size: 13px;
    line-height: 1.2em;
    text-decoration: none;

    &::before {
      position: relative;
      top: 18px;
      left: -20px;
      -webkit-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
    }
  }

  p.submit {
    .button {
      margin-right: 1em;
    }
  }
}

.variable_cart_mini_desc .wp-editor-tools {
  margin-top: -3em;
}

.variable_cart_mini_desc_pre .wp-editor-tools {
  margin-top: -2em;
}

.wc-gzd-resend-activation-link {
  margin-top: 1em !important;
}

#variable_product_options .notice.wc-gzd-unit-price-disabled-notice {
  margin: 1em 0 !important;
  box-sizing: border-box;
  display: none;
  padding: 5px 12px;
}

._billing_title_field, ._billing_address_1_field, ._shipping_title_field, ._shipping_address_1_field  {
  width: 100% !important;
}

.wc-gzd-button {
  background-color: #639aff !important;
  background-image: linear-gradient(120deg, #639aff 0, #9a4dff 100%) !important;
  color: #fff !important;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0), 0 19px 25px -17px rgba(3, 39, 64, 0.4) !important;
  border: 1px solid transparent !important;
  text-shadow: none !important;
  transition: transform .3s, box-shadow .3s ease-in-out, color .3s ease-in-out, -webkit-transform .3s;

  &:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    cursor: pointer;
  }

  .wc-gzd-pro {
    margin: 0 2px;
    background: #fff;
    color: #000;

    &:hover {
      color: #000;
    }
  }

  .wc-gzd-pro-outlined {
    margin: 0 2px;
    color: #FFF;
    border-color: #FFF;
    background: transparent;

    &:hover {
      color: #FFF;
    }
  }
}

.wc-gzd-button-wrapper .button {
  margin-right: 1em;
}

.wc-gzd-pro, .product_tab_gzd_pro a::after, .product_type_gzd_pro::after {
  font-size: 9px;
  border-radius: 3px;
  line-height: 9px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding: 1px 3px;
  position: relative;
  top: -1px;
  background: #222;
  font-style: normal;
  opacity: 1 !important;
  text-decoration: none;
}

a.wc-gzd-pro:not(.wc-gzd-pro-outlined) {
  &:hover {
    background: #4a4a4a;
    color: #FFF;
  }
}

.wc-gzd-pro-outlined, .product_tab_gzd_pro a::after, .product_type_gzd_pro::after {
  margin-left: 5px;
  margin-top: 3px;
  border: 1px solid #222;
  color: #222;
  background: transparent;

  &:hover {
    color: #222;
  }
}

.product_type_gzd_pro::after {
  content: "pro";
  font-weight: normal;
}

.product_tab_gzd_pro {
  a {
    &::after {
      margin-left: 0;
      color: #2271b1;
      border-color: #2271b1;
      content: "pro";
    }

    &:hover::after {
      border-color: #135e96;
      color: #135e96;
    }
  }

  &.active a::after {
    border-color: #555;
    color: #555;
  }
}

.wc-gzd-premium-overlay {
  border-left-color: #639aff !important;
}

a {
  .wc-gzd-pro-outlined {
    text-decoration: none;
    border: 1px solid #0073aa;
    color: #0073aa;

    &:hover {
      color: #135e96;
    }
  }
}

a.wc-gzd-pro-outlined {
  text-decoration: none;
  border: 1px solid #0073aa;
  font-weight: bold;
  color: #0073aa !important;
  margin: 0 2px;

  &:hover {
    color: #135e96 !important;
  }
}

a.page-title-action {
  .wc-gzd-pro {
    background: #0073aa;
  }

  &:hover {
    .wc-gzd-pro:not(.wc-gzd-pro-outlined) {
      background: #0a4b78;
    }
  }
}

.wc-gzd-premium-section-tab {
  background: #e4e4e4;
  border: 1px solid #CCC;
  color: #555;
  padding: 0 3px;
}

.tourbus-leg-inner .wc-gzd-pro {
  top: -3px;
}

p._variable_unit_price_auto_field {
  input.checkbox {
    float: none !important;
    margin-right: 5px !important;
  }
}

p._unit_price_auto_field {
  label {
    display: block !important;
    margin-bottom: 5px;
  }

  .wc-gzd-premium-desc {
    margin-right: 5px;
  }
}

._unit_price_auto_field label, ._unit_price_auto_field input, ._unit_price_auto_field .wc-gzd-premium-desc {
  opacity: 0.6;
}

table.wc-gzd-tax-example tr th, table.wc-gzd-tax-example tr td {
  padding: 5px;
  font-size: 0.9em;
}

table.wc-gzd-tax-example tr th:first-child, table.wc-gzd-tax-example tr td:first-child {
  padding-left: 0;
}

#gzd-admin-sepa {
  padding-top: 1em;
  display: block;
  clear: both;
  width: 100%;
}

.wc-action-button-xml:after {
  content: "\f475";
}

#order_data .order_data_column a.download_sepa_xml {
  width: 14px;
  height: 0;
  padding: 14px 0 0;
  margin: 0 0 0 6px;
  overflow: hidden;
  position: relative;
  color: #999;
  border: 0;
  float: right;
}

#order_data .order_data_column a.download_sepa_xml::after {
  font-family: Dashicons;
  content: '\f546';
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: top;
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

#order_data .order_data_column ._direct_debit_holder_field, #order_data .order_data_column ._direct_debit_iban_field, #order_data .order_data_column ._direct_debit_bic_field, #order_data .order_data_column ._direct_debit_mandate_id_field {
  clear: left;
  width: 100% !important;
}

#order_data .order_data_column ._direct_debit_holder_field input, #order_data .order_data_column ._direct_debit_iban_field input, #order_data .order_data_column ._direct_debit_bic_field input, #order_data .order_data_column ._direct_debit_mandate_id_field input {
  width: 100%;
}

#order_data ._shipping_parcelshop_post_number_field {
  clear: left;
  width: 100% !important;
}

.wc-gzd-text-red {
  color: red;
}

.wc-gzd-status-text {
  font-weight: 600;
}

.wc-gzd-text-green {
  color: green;
}

.order_actions .xml {
  display: block;
  text-indent: -9999px;
  position: relative;
  padding: 0!important;
  height: 2em!important;
  width: 2em;
}

.order_actions .xml:after {
  content: "\e00d";
  font-family: WooCommerce;
  text-indent: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  speak: none;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  top: 0;
  left: 0;
  line-height: 1.85;
  margin: 0;
  text-align: center;
  font-weight: 400;
}

.parcel-delivery-checkbox-status {
  float: left;
  width: 100%;
  clear: both;
}

.woocommerce_variation {
  .variable_delivery_time, .variable-nutri-score {
    .select2-container {
      .select2-selection--single {
        height: 40px;

        .select2-selection__clear {
          margin-right: 10px;
        }

        .select2-selection__rendered {
          line-height: 40px;
        }

        .select2-selection__arrow {
          right: 3px;
          height: 36px;
        }
      }
    }
  }
}

.wc-gzd-dashicon {
  text-indent: -9999px;
  overflow: hidden;

  &::before {
    text-indent: 0;
    display: block;
  }
}

.wc-gzd-add-country-specific-delivery-time-template {
  display: none;
}

#shipping_product_data {
  .wc-gzd-add-country-specific-delivery-time {
    margin-top: -9px;
    margin-bottom: -9px;
  }
}

.woocommerce_variable_attributes {
  .wc-gzd-add-country-specific-delivery-time {
    margin-bottom: 0;
  }
}

.wc-metaboxes-wrapper .wc-metabox.woocommerce_variation {
  .wc-gzd-inner-product-pro-tab-wrapper {
    margin: 1em 0;

    .wc-gzd-premium-overlay.notice {
      margin: 0 !important;

      p {
        padding: 2px;
        font-size: 13px;
      }

      h3 {
        padding-left: 0 !important;
      }
    }
  }

  p.wc-gzd-product-settings-subtitle {
    float: left;
    clear: both;
    width: 100%;
    margin-left: -2em;
    padding: 10px 2em;
    font-weight: bold;
    font-size: 1em;
    background: #eee;

    .page-title-action {
      top: -1px;
    }

    .wc-gzd-product-settings-action {
      float: right;
      text-decoration: underline;
      font-weight: normal;
      margin-left: 1em;
    }
  }
}

.woocommerce_options_panel {
  .wc-gzd-inner-product-pro-tab-wrapper {
    padding: 20px;

    .wc-gzd-premium-overlay {
      p {
        padding: 2px;
        font-size: 13px;
      }
    }
  }

  p.wc-gzd-product-settings-subtitle {
    padding: 10px 20px 10px 10px;
    font-weight: bold;
    font-size: 1em;
    background: #eee;
    margin-top: -1px;

    .page-title-action {
      top: -1px;
    }

    .wc-gzd-product-settings-action {
      float: right;
      text-decoration: underline;
      font-weight: normal;
      margin-left: 1em;
    }
  }

  .nutrient_vitamins_field {
    width: 50%;

    .wrap {
      input {
        width: 30.75%;
      }
      .unit {
        float: left;
        margin-right: 2.8%;
        margin-left: 1%;
      }
    }
  }
}

.variable_warranty_attachment {
  label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
  }
}

.wc-gzd-warranty-upload-wrapper {
  .upload_warranty_button {
    margin-right: .5em;
  }

  .wc-gzd-warranty-delete {
    color: #b32d2e;

    &.file-missing {
      display: none;
    }
  }
}

.wc-gzd-allergenic-field {
  .select2-container .select2-selection--multiple {
    line-height: inherit;
  }

  .select2-container--default .select2-selection--multiple li.select2-search--inline {
    line-height: 1;
    margin-top: 0;

    input.select2-search__field {
      min-height: 25px;
    }
  }
}

.wc-gzd-country-specific-delivery-time-field {
  .wc-gzd-remove-country-specific-delivery-time {
    text-indent: 0;
    overflow: hidden;
    color: #b32d2e;
    text-decoration: none;
    vertical-align: middle;
  }

  &.wc-gzd-country-specific-delivery-time-field-variation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    label {
      width: 100%;
    }

    .select2-container {
      max-width: 95% !important;
      width: 95% !important;
    }

    .wc-gzd-remove-country-specific-delivery-time {
      margin-left: .5em;
    }
  }

  &.wc-gzd-add-country-specific-delivery-time-field-variation {
    display: flex;
    align-items: center;
    width: 100%;

    label {
      width: auto;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 30%;
      margin-right: 2%;
    }

    .select2-container {
      max-width: 63% !important;
      width: 63% !important;
    }
  }
}

.nutri-score-select-value {
  &.nutri-score-select-value-a {
    color: #038141;
  }
  &.nutri-score-select-value-b {
    color: #85bb2f;
  }
  &.nutri-score-select-value-c {
    color: #fecb02;
  }
  &.nutri-score-select-value-d {
    color: #ee8100;
  }
  &.nutri-score-select-value-e {
    color: #e63e11;
  }
}

.wrap {
  .plugins {
    p.wc-gzd-update-warning {
      border-top: 1px solid #ffb900;
      margin-left: -12px;
      margin-right: -12px;
      padding: .5em 0;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 12px;

      &::before {
        display: none;
      }
    }
  }
}