// Spectre
// See: https://github.com/picturepan2/spectre
@import '../../node_modules/spectre.css/src/variables';

$primary-color: #8865ff;
$gray-color: #b5b5b5;
$border-color: #b5b5b5;
$light-color: #f1f1f1;

@import '../../node_modules/spectre.css/src/steps';

body {
  margin: 30px auto 24px;
  box-shadow: none;
  background: #f1f1f1;
  padding: 0;
  border: none;
}

.wc-gzd-setup {
  .wc-gzd-setup-header {
    margin-top: 5em;
    width: 100%;

    .logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.5em;

      .logo {
        display: inline-block;
        text-indent: -9999px;
        width: 7em;
        vertical-align: top;
        height: 7em;
        background: url(../images/icon-germanized.svg) no-repeat;
        background-size: contain;
      }
    }
  }
}

.step {
  .step-item {
    a {
      &:focus, &:visited, &:active {
        box-shadow: none;
      }
    }
  }
}

.wc-gzd-setup-content {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
  padding: 24px 24px;
  background: #fff;
  overflow: hidden;
  zoom: 1;
  margin-top: 1.5em;

  a {
    color: $primary-color;
  }

  .error {
    margin: 0;
    margin-bottom: 1.5em;
    box-shadow: none;
  }

  h1 {
    margin-top: 0;
    border-bottom: none;
  }

  .wc-gzd-admin-settings {
    .woocommerce-input-toggle:not(.woocommerce-input-toggle--disabled) {
      border-color: $primary-color;
      background-color: $primary-color;
    }

    .wc-gzd-additional-desc {
      background: rgba($primary-color, .08);

      a {
        color: $primary-color;
        text-decoration: none;
      }
    }

    h2 {
      display: none;
    }

    .wc-gzd-label-wrap {
      display: inline-block;
    }

    .form-table {
      th {
        position: relative;
        padding: 20px 10px 20px 0;
        padding-right: 14px;
        padding-top: 14px;
        vertical-align: top;
        text-align: left;
        width: 150px;
        line-height: 1.3;
        font-weight: 600;
      }
      td {
        margin-bottom: 9px;
        padding: 15px 10px;
        line-height: 1.3;
        vertical-align: middle;

        p.description {
          margin-top: 0;
        }
      }
      .status-disabled {
        display: inline-block;
      }
    }
  }

  p.headliner {
    border-bottom: 1px solid $border-color;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 1.5em;
    padding-bottom: 1em;

    &.no-border {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  p.desc {
    font-size: 11px;
    line-height: 2;

    code {
      font-size: inherit;
    }
  }

  p.form-wrapper {
    input[type=text] {
      padding: 10px;
      width: 100%;
    }
  }

  h2 {
    border-top: 1px solid $border-color;
    padding-top: 1em;
    margin-top: 1em;
    border-bottom: none;
  }

  ul.demo-layouts {
    list-style: none;
    padding: 0;

    li.demo-layout {
      width: 33.3333333%;
      max-width: 100%;
      overflow: hidden;

      label {
        .desc {
          font-weight: 600;
          font-size: 16px;
        }
      }

      img {
        width: 100%;
        height: auto;
        margin-top: 1em;
      }
    }
  }

  .wc-gzd-setup-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -.5rem;
    margin-right: -.5rem;

    .wc-gzd-setup-grid-item {
      flex: none;
      width: 50%;
      max-width: 100%;
      padding-left: .5rem;
      padding-right: .5rem;
      box-sizing: border-box;
    }
  }

  ul.more {
    padding-left: 0;

    li {
      a {
        color: #444;
        text-decoration: none;
      }
    }
  }
}

.wc-gzd-setup-footer {
  margin-top: 1em;
  padding-bottom: 1.5em;

  .wc-gzd-setup-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .wc-gzd-setup-link {
    text-decoration: none;

    &.wc-gzd-setup-link-skip {
      color: $gray-color;
      margin-right: 2em;
      margin-top: .5em;
    }
  }

  .button-primary {
    font-size: 1.25em;
    padding: .5em 1em;
    line-height: 1em;
    height: auto;
  }

  .escape {
    text-align: center;
    margin-top: 1em;

    a {
      color: $gray-color;
      font-size: 11px;
    }
  }
}