.wc-gzd-settings .nav-tab-wrapper a.nav-tab[href*="tab=germanized"] {
  border-bottom: 1px solid #f1f1f1;
  background: #f1f1f1;
  color: #000;
  margin-bottom: -1px;
  box-shadow: none; }

.wc-gzd-settings ul.subsubsub {
  margin-top: 0; }
  .wc-gzd-settings ul.subsubsub li a .wc-gzd-pro {
    margin-left: 3px; }
  .wc-gzd-settings ul.subsubsub li a.current .wc-gzd-pro {
    color: #222;
    border: 1px solid #222; }

.wc-gzd-settings .wc-gzd-dash-button {
  margin-right: 5px;
  text-indent: 9999px;
  position: relative;
  display: inline-block;
  padding: 0;
  height: 2em;
  width: 2em;
  min-height: 25px;
  overflow: hidden;
  vertical-align: middle; }
  .wc-gzd-settings .wc-gzd-dash-button::after {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1.85;
    content: "\f464"; }
  .wc-gzd-settings .wc-gzd-dash-button.help-link::after {
    content: "?";
    font-family: inherit;
    font-weight: bold; }
  .wc-gzd-settings .wc-gzd-dash-button.install::after {
    content: "\f106"; }
  .wc-gzd-settings .wc-gzd-dash-button.wc-gzd-is-loading::after {
    content: ""; }

.wc-gzd-settings .wc-gzd-settings-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 1.4em;
  align-items: center;
  margin-bottom: .5em; }
  .wc-gzd-settings .wc-gzd-settings-breadcrumb li.breadcrumb-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .wc-gzd-settings .wc-gzd-settings-breadcrumb li.breadcrumb-item a.page-title-action {
      margin-left: 1em;
      position: inherit;
      top: 0; }
    .wc-gzd-settings .wc-gzd-settings-breadcrumb li.breadcrumb-item a.breadcrumb-link {
      text-decoration: none;
      display: inline-flex;
      white-space: nowrap;
      align-items: center;
      color: #444; }
      .wc-gzd-settings .wc-gzd-settings-breadcrumb li.breadcrumb-item a.breadcrumb-link:hover {
        color: #000 !important; }
      .wc-gzd-settings .wc-gzd-settings-breadcrumb li.breadcrumb-item a.breadcrumb-link::after {
        font-family: Dashicons;
        font-weight: 400;
        margin: 0 2px;
        margin-top: 2px;
        font-size: .9em;
        text-transform: none;
        line-height: 1;
        text-indent: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        content: "\f345"; }
    .wc-gzd-settings .wc-gzd-settings-breadcrumb li.breadcrumb-item.breadcrumb-item-active {
      font-weight: 600;
      color: #000; }

.wc-gzd-settings .wc-gzd-setting-header {
  font-size: 1.4em; }
  .wc-gzd-settings .wc-gzd-setting-header .page-title-action {
    top: -1px; }

.wc-gzd-settings .wc-gzd-ajax-loading-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .wc-gzd-settings .wc-gzd-ajax-loading-btn.wc-gzd-is-loading .btn-text {
    opacity: .3;
    z-index: 0; }
  .wc-gzd-settings .wc-gzd-ajax-loading-btn.wc-gzd-is-loading .spinner {
    position: absolute;
    z-index: 5;
    background-size: 16px 16px;
    float: none;
    text-align: center;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0; }

.wc-gzd-settings .wc-gzd-setting-tabs {
  margin-top: 1.5em; }
  .wc-gzd-settings .wc-gzd-setting-tabs .wc-gzd-setting-tab-enabled .wc-gzd-install-extension-btn {
    line-height: 26px;
    min-height: 26px;
    height: 26px; }
  .wc-gzd-settings .wc-gzd-setting-tabs th, .wc-gzd-settings .wc-gzd-setting-tabs td {
    display: table-cell !important;
    padding: 1em !important;
    vertical-align: top;
    line-height: 1.75em;
    font-size: 14px; }
  .wc-gzd-settings .wc-gzd-setting-tabs th {
    font-weight: 600; }
  .wc-gzd-settings .wc-gzd-setting-tabs td.wc-gzd-setting-tab-enabled, .wc-gzd-settings .wc-gzd-setting-tabs th.wc-gzd-setting-tab-enabled {
    width: 1%;
    text-align: center; }
    .wc-gzd-settings .wc-gzd-setting-tabs td.wc-gzd-setting-tab-enabled .status-disabled, .wc-gzd-settings .wc-gzd-setting-tabs td.wc-gzd-setting-tab-enabled .status-enabled, .wc-gzd-settings .wc-gzd-setting-tabs th.wc-gzd-setting-tab-enabled .status-disabled, .wc-gzd-settings .wc-gzd-setting-tabs th.wc-gzd-setting-tab-enabled .status-enabled {
      display: inline-block;
      margin-top: 3px; }
  .wc-gzd-settings .wc-gzd-setting-tabs a .wc-gzd-pro {
    margin-left: 3px; }
  .wc-gzd-settings .wc-gzd-setting-tabs td.wc-gzd-setting-tab-actions, .wc-gzd-settings .wc-gzd-setting-tabs th.wc-gzd-setting-tab-actions {
    width: 15%;
    text-align: right; }
  .wc-gzd-settings .wc-gzd-setting-tabs td.wc-gzd-setting-tab-actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; }
    .wc-gzd-settings .wc-gzd-setting-tabs td.wc-gzd-setting-tab-actions .button {
      margin-right: 5px; }
      .wc-gzd-settings .wc-gzd-setting-tabs td.wc-gzd-setting-tab-actions .button:last-child {
        margin-right: 0; }
  .wc-gzd-settings .wc-gzd-setting-tabs td.wc-gzd-setting-tab-name, .wc-gzd-settings .wc-gzd-setting-tabs th.wc-gzd-setting-tab-name {
    width: 25ch; }
  .wc-gzd-settings .wc-gzd-setting-tabs td.wc-gzd-setting-tab-name {
    font-weight: 700;
    white-space: nowrap; }
  .wc-gzd-settings .wc-gzd-setting-tabs tr:nth-child(odd) td {
    background: #f9f9f9; }

.wc-gzd-admin-settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1em; }
  .wc-gzd-admin-settings.wc-gzd-admin-settings-has-sidebar {
    box-sizing: border-box; }
    .wc-gzd-admin-settings.wc-gzd-admin-settings-has-sidebar .wc-gzd-admin-settings-fields {
      width: 65%;
      padding-right: 5%; }
    .wc-gzd-admin-settings.wc-gzd-admin-settings-has-sidebar .wc-gzd-admin-settings-sidebar {
      width: 30%; }
  .wc-gzd-admin-settings tbody.ui-sortable tr:hover {
    cursor: move; }
  .wc-gzd-admin-settings .forminp-radio fieldset p {
    margin-bottom: 1em; }
  .wc-gzd-admin-settings th.forminp-image {
    padding-right: 0 !important; }
  .wc-gzd-admin-settings.wc-gzd-admin-settings-germanized-emails-attachments th.forminp-image, .wc-gzd-admin-settings.wc-gzd-admin-settings-contract th.forminp-image, .wc-gzd-admin-settings.wc-gzd-admin-settings-invoices th.forminp-image, .wc-gzd-admin-settings.wc-gzd-admin-settings-multistep_checkout th.forminp-image, .wc-gzd-admin-settings.wc-gzd-admin-settings-terms_generator th.forminp-image, .wc-gzd-admin-settings.wc-gzd-admin-settings-revocation_generator th.forminp-image {
    padding-top: 0; }
  .wc-gzd-admin-settings .wc-gzd-premium img, .wc-gzd-admin-settings .forminp-image img {
    max-width: 100%;
    height: auto;
    opacity: 0.7; }
  .wc-gzd-admin-settings #woocommerce_gzdp_terms_generator img {
    max-width: 100%; }
  .wc-gzd-admin-settings .woocommerce table.form-table th.forminp-image {
    padding-right: 0; }
  .wc-gzd-admin-settings tr.single_select_page .description {
    display: block;
    margin-top: .5em; }
  .wc-gzd-admin-settings tr.wc-gzd-setting-invisible {
    display: none; }
  .wc-gzd-admin-settings td .wc-gzd-additional-desc {
    margin-top: 1em;
    line-height: 1.5em;
    background: #fff;
    padding: .5em;
    font-style: normal;
    font-size: 14px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
    .wc-gzd-admin-settings td .wc-gzd-additional-desc .wc-gzd-tax-example {
      margin-top: .5em; }
  .wc-gzd-admin-settings .wc-gzd-label-wrap {
    position: relative;
    display: block;
    vertical-align: middle; }
    .wc-gzd-admin-settings .wc-gzd-label-wrap .woocommerce-help-tip {
      margin: -8px -24px 0 0 !important;
      position: absolute;
      right: 0;
      top: 50%; }
  .wc-gzd-admin-settings td.forminp-gzd_toggle span.description, .wc-gzd-admin-settings td.forminp-gzd_toggle p.description {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    margin-left: 5px; }
    .wc-gzd-admin-settings td.forminp-gzd_toggle span.description .wc-gzd-additional-desc, .wc-gzd-admin-settings td.forminp-gzd_toggle p.description .wc-gzd-additional-desc {
      margin-bottom: -1em; }
  .wc-gzd-admin-settings td.forminp-gzd_toggle fieldset {
    margin-top: 1.25em; }
    .wc-gzd-admin-settings td.forminp-gzd_toggle fieldset:first-child {
      margin-top: 0; }

.wc-gzd-setting-tabs a.woocommerce-gzd-input-toggle-trigger, .wc-gzd-admin-settings a.woocommerce-gzd-input-toggle-trigger {
  color: transparent;
  border: none;
  text-decoration: none; }
  .wc-gzd-setting-tabs a.woocommerce-gzd-input-toggle-trigger:focus, .wc-gzd-admin-settings a.woocommerce-gzd-input-toggle-trigger:focus {
    color: transparent;
    box-shadow: none;
    border: none; }

/**
 Checkbox UI
 */
table.wc-gzd-legal-checkboxes thead th {
  vertical-align: middle; }
  table.wc-gzd-legal-checkboxes thead th.wc-gzd-legal-checkbox-sort {
    text-align: center; }

table.wc-gzd-legal-checkboxes th, table.wc-gzd-legal-checkboxes td {
  vertical-align: top;
  line-height: 24px;
  padding: 1em !important;
  font-size: 14px;
  background: #fff;
  display: table-cell !important; }
  table.wc-gzd-legal-checkboxes th ul, table.wc-gzd-legal-checkboxes td ul {
    margin: 0; }
  table.wc-gzd-legal-checkboxes th .status-enabled, table.wc-gzd-legal-checkboxes th .status-disabled, table.wc-gzd-legal-checkboxes td .status-enabled, table.wc-gzd-legal-checkboxes td .status-disabled {
    margin-top: 3px; }
  table.wc-gzd-legal-checkboxes th.wc-gzd-legal-checkbox-locations ul li, table.wc-gzd-legal-checkboxes td.wc-gzd-legal-checkbox-locations ul li {
    line-height: 24px;
    font-size: 14px;
    color: #555;
    display: inline;
    margin: 0; }
  table.wc-gzd-legal-checkboxes th.wc-gzd-legal-checkbox-locations ul li::before, table.wc-gzd-legal-checkboxes td.wc-gzd-legal-checkbox-locations ul li::before {
    content: ', '; }
  table.wc-gzd-legal-checkboxes th.wc-gzd-legal-checkbox-locations ul li:first-child::before, table.wc-gzd-legal-checkboxes td.wc-gzd-legal-checkbox-locations ul li:first-child::before {
    content: ''; }

table.wc-gzd-legal-checkboxes td.wc-gzd-legal-checkbox-sort::before {
  content: '\f333';
  font-family: Dashicons;
  text-align: center;
  line-height: 1;
  color: #999;
  display: block;
  width: 17px;
  float: left;
  height: 100%;
  line-height: 24px; }

table.wc-gzd-legal-checkboxes tbody.wc-gzd-legal-checkbox-rows td {
  border-top: 2px solid #f9f9f9; }

table.wc-gzd-legal-checkboxes tbody.wc-gzd-legal-checkbox-rows tr:first-child td {
  border-top: 0; }

table.wc-gzd-legal-checkboxes tbody.wc-gzd-legal-checkbox-rows tr:nth-child(odd) td {
  background: #f9f9f9; }

.wc-gzd-premium-overlay {
  border-left-color: #639aff !important; }

.wc-gzd-admin-settings-sidebar {
  box-sizing: border-box; }
  .wc-gzd-admin-settings-sidebar .wc-gzd-admin-settings-sidebar-inner {
    padding: 1em;
    background: #FFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
    .wc-gzd-admin-settings-sidebar .wc-gzd-admin-settings-sidebar-inner.sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 50px; }
  .wc-gzd-admin-settings-sidebar h1:first-of-type, .wc-gzd-admin-settings-sidebar h2:first-of-type, .wc-gzd-admin-settings-sidebar h3:first-of-type {
    margin-top: 0; }
  .wc-gzd-admin-settings-sidebar img {
    width: 100%; }
  .wc-gzd-admin-settings-sidebar .browser {
    border-radius: 3px; }
  .wc-gzd-admin-settings-sidebar .small {
    font-size: 0.9em;
    display: block;
    margin-top: 0.5em;
    color: #888; }

/**
 * Add bigger distance to Woo admin header if active
 */
body.woocommerce-feature-enabled-store-alerts .wc-gzd-admin-settings-sidebar .wc-gzd-admin-settings-sidebar-inner.sticky {
  top: 120px; }

.wc-gzd-admin-settings-checkboxes td.forminp-textarea p code {
  margin: .5em 0;
  display: block; }

.wc-gzd-admin-settings-checkboxes td.forminp-textarea p {
  margin-bottom: 1em; }

.wc-gzd-admin-settings-checkboxes td.forminp-textarea .gzd-small-desc {
  font-size: 12px;
  font-style: italic;
  display: block; }

.wc-gzd-admin-settings-checkboxes td.forminp-text .description {
  margin-top: .5em;
  line-height: 1.5em;
  display: block; }