table.data_table tr td p.form-field {
	margin: 0 !important;
	padding: 0 !important;
}

.variable_cart_mini_desc .wp-editor-tools {
	margin-top: -3em;
}

.variable_cart_mini_desc_pre .wp-editor-tools {
	margin-top: -2em;
}

.wc-gzd-admin-settings {
	display: inline-block;
	width: 70%;
	box-sizing: border-box;
	vertical-align: top;
	border-right: 1px solid #CCC;
	padding-right: 2%;
}

.wc-gzd-admin-settings-sidebar {
	display: inline-block;
	box-sizing: border-box;
	padding-left: 2%;
	vertical-align: top;
	margin-left: -4px;
	width: 30%;
}

.wc-gzd-admin-settings-agbs, .wc-gzd-admin-settings-widerruf {
	width: 100%;
} 

.wc-gzd-admin-settings-sidebar img {
	width: 100%;
}

.wc-gzd-admin-settings-sidebar .browser {
	border: 1px solid #CCC;
	border-radius: 3px;
}

.wc-gzd-sidebar-action {
}

.wc-gzd-admin-settings-sidebar .small {
	font-size: 0.9em;
	display: block;
	margin-top: 0.5em;
}

._billing_title_field, ._billing_address_1_field, ._shipping_title_field, ._shipping_address_1_field  {
	width: 100% !important;
}

.wc-gzd-button {
	background-color: #7b9f35 !important;
	border: 1px solid #557020 !important;
	text-shadow: none !important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15) !important;
}
.wc-gzd-button:hover {
	background-color: #73982a !important;
	border: 1px solid #557020 !important;
	text-shadow: none !important;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15) !important;
}

.wc-gzd-button-wrapper .button {
	margin-right: 1em;
}

.wc-gzd-premium-section-tab, .wc-gzd-pro {
	font-size: 9px;
	background: #0074a2;
	border-radius: 3px;
	line-height: 9px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	padding: 1px 3px;
	position: relative;
	top: -1px;
}

.wc-gzd-premium-section-tab {
	background: #e4e4e4;
	border: 1px solid #CCC;
	color: #555;
	padding: 0 3px;
}

.wc-gzd-pro {
	background: #222;
	font-style: normal;
	opacity: 1 !important;
	text-decoration: none;
}

.wc-gzd-pro:visited {
	color: #FFF;
}

.wc-gzd-pro:hover {
	color: #FFF;
}

.tourbus-leg-inner .wc-gzd-pro {
	top: -3px;
}

.wc-gzd-premium img, .forminp-image img {
	width: 100%;
	height: auto;
	opacity: 0.7;
}

.woocommerce table.form-table th.forminp-image {
	padding-right: 0;
}

p._unit_price_auto_field label {
	display: block !important;
	margin-bottom: 5px;
}

._unit_price_auto_field label, ._unit_price_auto_field input, ._unit_price_auto_field .wc-gzd-premium-desc {
	opacity: 0.6;
}

table.wc-gzd-tax-example tr th, table.wc-gzd-tax-example tr td {
	padding: 5px;
	font-size: 0.9em;
}

table.wc-gzd-tax-example tr th:first-child, table.wc-gzd-tax-example tr td:first-child {
	padding-left: 0;
}

.wc-gzd-admin-settings tbody.ui-sortable tr:hover {
	cursor: move;
}

#order_data .order_data_column ._direct_debit_holder_field, #order_data .order_data_column ._direct_debit_iban_field, #order_data .order_data_column ._direct_debit_bic_field, #order_data .order_data_column ._direct_debit_reference_field {
    clear: left;
    width: 100% !important;
}

#order_data .order_data_column ._direct_debit_holder_field input, #order_data .order_data_column ._direct_debit_iban_field input, #order_data .order_data_column ._direct_debit_bic_field input, #order_data .order_data_column ._direct_debit_reference_field input {
    width: 100%;
}

#order_data ._shipping_parcelshop_post_number_field {
	clear: left;
	width: 100% !important;
}

.wc-gzd-text-red {
	color: red;
}

.wc-gzd-status-text {
	font-weight: 600;
}

.wc-gzd-text-green {
	color: green;
}

.order_actions .xml {
    display: block;
    text-indent: -9999px;
    position: relative;
    padding: 0!important;
    height: 2em!important;
    width: 2em;
}

.order_actions .xml:after {
	content: "\e00d";
	font-family: WooCommerce;
    text-indent: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    speak: none;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    top: 0;
    left: 0;
    line-height: 1.85;
    margin: 0;
    text-align: center;
    font-weight: 400;
}

table.form-table .forminp-radio fieldset p {
	margin-bottom: 1em;
}