.woocommerce-checkout .shop_table {
	background-color: #EEE;
}
.includes_tax, .tax_label {
	display: none !important;
}
#order_review_heading {
	display: none;
}
.woocommerce-checkout .shop_table tr td p {
	margin-bottom: 0;
}
.woocommerce-checkout .shop_table td, .woocommerce-checkout .shop_table th {
	line-height: 1.5;
}
.shop_table .product-name-inner, .shop_table .product-name-inner tr td {
	border: none;
	padding: 0;
	margin: 0;
}
.shop_table .product-name-inner tr td:last-child {
	text-align: right;
}
.cart_totals .wc-gzd-additional-wrapper {
	text-align: right;
}
.cart_totals p.wc-gzd-additional-info {
	font-size: 0.8em;
	width: 60%;
	border-top: 1px solid #CCC;
	padding-top: 0.5rem;
	display: inline-block;
}
.entry-content .woocommerce #payment {
	margin-bottom: 1em;
}
.entry-content .woocommerce .checkout-btn-wrap {
	text-align: right;
}
.entry-content .woocommerce .place-order .form-row, .entry-content .woocommerce .place-order .form-row input[type="checkbox"] {
	padding: 0;
}
.legal label input[type=checkbox] {
	vertical-align: middle;
}
.woocommerce-checkout p.terms {
	text-align: left;
}
.woocommerce-checkout p.direct-debit-checkbox {
	display: none;
}
.unit-price-cart {
	font-size: 0.9em;
	display: block;
	margin-top: 5px;
}
.products .wc-gzd-additional-info {
	font-size: 0.8em;
	margin: 0.7rem 0 0.7rem 0;
	padding: 0;
}
.products .product .price-unit {
	font-size: 0.8em;
}
.product p.wc-gzd-additional-info {
	margin-bottom: 0.5rem;
	font-size: 0.9em;
	clear: left;
}
.product .product_meta {
	margin-top: 1rem;
}
p.footer-info {
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 0.5rem;
}
.trusted-shops-badge {
	width: 100px;
	height: 100px;
	display: inline-block;
	background: transparent url(../images/trusted-shops-badge.png) no-repeat;
}
.wc-gzd-item-desc p {
	font-size: 0.9em;
}
.wc-gzd-edit-data-notice {
	background: #EEE;
	display: inline-block;
	padding: 1em;
}
.wc-gzd-edit-data-notice p.wc-gzd-info {
	margin: 0;
	padding: 0;
}
table.product-details-inner {
	table-layout:fixed;
	margin: 0;
	padding: 0;
}
table.product-details-inner, table.product-details-inner tr, table.product-details-inner td {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
	background: transparent;
}
table.product-details-inner tr td:last-child {
	text-align: right;
}
.wc-gzd-trusted-shops-rating-widget {
	line-height: 1.5rem;
}
.wc-gzd-trusted-shops-rating-widget .star-rating {
	display: inline-block;
	float: none;
	margin-left: 0.5rem;
}
.wc-gzd-product-name-left, .wc-gzd-product-name-right {
	float: left;
}
.wc-gzd-product-name-left {
	max-width: 15%;
	margin-right: 1em;
}
#eKomiSeal_default img {
	width: 100% !important;
	height: 100% !important;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
 	.trusted-shops-badge {
  		background: transparent url(../images/trusted-shops-badge@2x.png) no-repeat;
   		background-size: 100px 100px;
    }
    .trusted-shops-badge-smaller {
   		background-size: 75px 75px;
    }
}