.wc-gzd-trusted-shops-expert-mode-note {
	display: none;
	margin-top: 1em;
}

.wc-gzd-trusted-shops-expert-mode-note ul {
	list-style-type: disc;
	padding-left: 1.5em;
}

.wc-gzd-admin-settings-sidebar-trusted-shops a.button {
	margin-top: 1em;
}

.wc-gzd-admin-settings-trusted_shops textarea.wc-ts-has-error, .wc-gzd-admin-settings-trusted_shops input.wc-ts-has-error {
	border: 1px solid #dc3232;
}

.wc-gzd-admin-settings-trusted_shops .wc-ts-error {
	color: #dc3232;
	font-weight: bold;
	font-size: 11px;
	margin-top: 0.5em;
	display: block;
}

table.form-table td.forminp-number .description {
	position: relative;
	top: 5px;
	left: 5px;
}

table.form-table td.forminp-gzd_toggle .description {
	margin-left: 5px;
}

table.form-table td.forminp-select .description {
	display: block;
	margin-left: 0;
	margin-top: 10px;
}

.trusted-shops-review-collector-wrap {
	clear: both;
	margin-top: 15px;
	float: left;
	width: 100%;
}

.review-collector-days {
	float: left;
	width: 100%;
}

.review-collector-days label {
	padding-top: 5px;
	display: inline-block;
	padding-right: 5px;
}

.review-collector-days input[type=number] {
	width: 50px !important;
}

.review-collector-buttons {
	float: left;
	width: 100%;
	margin-top: 10px;
}

td.forminp-review-collector p.description {
	clear: both;
	margin-left: 0 !important;
	top: 15px !important;
}

.wc-ts-sidebar {
	display: none;
}

.wc-ts-sidebar-active {
	display: block;
}

.wc-gzd-admin-settings #trusted_shops_options-description .button {
	margin-left: 10px;
}