.wc-gzd-trusted-shops-expert-mode-note {
	display: none;
}

.wc-gzd-trusted-shops-expert-mode-note p {
	margin: 1em 0;
}

.wc-gzd-trusted-shops-expert-mode-note ul {
	list-style-type: disc;
	padding: 1em 1.5em;
}

.wc-gzd-admin-settings-sidebar-trusted-shops a.button {
	margin-top: 1em;
}