#posts-filter {
  .wc-gzd-dhl-bulk-downloads {
    clear: both;
    float: left;
    margin: 1em 0;
  }
}

.woocommerce_page_wc-gzd-return-shipments .wp-list-table .column-actions a.email::after {
  content: "\f465";
}

.wc-modal-shipping-method-settings .form-table td .wc-gzd-additional-desc {
  margin-top: 1em;
  line-height: 1.5em;
  background: #efefef;
  padding: .5em;
  font-style: normal;
  font-size: 13px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.germanized-create-label {
  .wc-gzd-shipment-im-additional-services {
    p.label {
      margin-top: 10px;
      width: 100%;
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }

  .wc-gzd-dhl-im-product-data {
    margin-top: 2em;
    min-width: 700px;
    margin-left: -1rem !important;
    margin-right: -1rem !important;

    .column {
      padding-left: 1rem !important;
      padding-right: 1rem !important;

      p:first-child {
        margin-top: 1.5em !important;
      }
    }

    .wc-gzd-dhl-im-product-price {
      background: #ffd633;
      border-radius: 4px;
      padding: .5em 1em;

      .amount {
        font-size: 18px;
        font-weight: bold;
      }
      .price-suffix {
        display: block;
        font-size: 11px;
        line-height: 15px;
      }
    }

    .col-dimensions {
      color: #999;
    }

    .col-preview {
      .image-preview {
        img {
          height: auto;
          max-height: 140px;
        }
      }
    }

    .wc-gzd-dhl-im-product-information-text, .wc-gzd-dhl-im-product-description {
      font-size: 11px;
      color: #999;
      line-height: 1.5em;
    }
  }

  .show-services-trigger {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
    display: block;
    text-align: right;
    vertical-align: middle;
    line-height: 20px;

    a {
      text-decoration: none;
    }
  }
}