#posts-filter .wc-gzd-dhl-bulk-downloads {
  clear: both;
  float: left;
  margin: 1em 0; }

.woocommerce_page_wc-gzd-return-shipments .wp-list-table .column-actions a.email::after {
  content: "\f465"; }

.wc-modal-shipping-method-settings .form-table td .wc-gzd-additional-desc {
  margin-top: 1em;
  line-height: 1.5em;
  background: #efefef;
  padding: .5em;
  font-style: normal;
  font-size: 13px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }

.germanized-create-label .show-services-trigger {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0;
  display: block;
  text-align: right; }
  .germanized-create-label .show-services-trigger a {
    text-decoration: none; }